{% extends "border.html" %}

{% block pagetitle %}
Form UKPBJ
{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col">
        <h2 class="page-title">Daftar UKPBJ</h2>
    </div>
    <div class="col-auto">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/ukpbj">Daftar UKPBJ</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
</div>
    <div class="col-12 pt-2">
        <div class="card">
            {% include "alert.html" %}
            <form class="form-horizontal" action="{{ url }}" method="post">
                {% if ukpbj.ID > 0 %}
                <input type="hidden" name="ID" value="{{ ukpbj.ID }}">
                {% endif %}
                <div class="card-body">
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2  text-end control-label col-form-label">Nama UKPBJ</label>
                        <div class="col-sm-9">
                            <input type="text" name="nama" class="form-control"  value="{{ ukpbj.Nama }}"/>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2  text-end control-label col-form-label">Alamat UKPBJ</label>
                        <div class="col-sm-9">
                            <input type="text" name="alamat" class="form-control" value="{{ ukpbj.Alamat }}"/>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2  text-end control-label col-form-label">Telepon</label>
                        <div class="col-sm-9">
                            <input type="text" name="telepon" class="form-control" value="{{ ukpbj.Telepon }}"/>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2  text-end control-label col-form-label">Fax</label>
                        <div class="col-sm-9">
                            <input type="text" name="fax" class="form-control" value="{{ ukpbj.Fax }}"/>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2  text-end control-label col-form-label">Tanggal Pendaftaran</label>
                        <div class="col-sm-9">
                            <input type="text" name="tglDaftar" class="form-control datepicker" value="{{ ukpbj.TglDaftar }}"/>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2  text-end control-label col-form-label">Aktif</label>
                        <div class="col-sm-9">
                            <input type="checkbox" name="is_active" class="form-check" value="true" {% if ukpbj.IsActive %} checked {% endif %} />
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2  text-end control-label col-form-label">Penanggung Jawab</label>
                        <div class="col-sm-9">
                            <select name="peg_id" class="form-control">
                                {% for obj in adminUkpbj %}
                                <option value="{{obj.ID}}" {% if ukpbj.PegId == obj.PegId %} selected {% endif %}>{{obj.PegNama}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary"><span style="width: 16px;" data-feather="save"></span> Submit</button>
                        <a href="/ukpbj" class="btn btn-secondary"><span style="width: 16px;" data-feather="arrow-left-circle"></span> Kembali</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
<script>
    $(".datepicker").flatpickr({
        enableTime: true,
        dateFormat: "Y-m-d",
    });
</script>
{% endblock %}
