<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="noindex,nofollow"/>
    <title>Arsip LPSE</title>
    
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/lpse-icon.png"/>
    
    <link href="/css/style.min.css" rel="stylesheet"/>
    
    
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="main-wrapper">
    
    {% include "loading.html" %}
    
    <div class="auth-wrapper d-flex justify-content-center align-items-center bg-dark">
        <div class="auth-box bg-dark border-top border-secondary">
        {{embed}}
        </div>
    </div>
</div>

<script src="/assets/libs/jquery/dist/jquery.min.js"></script>

<script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Login and Recover Password
    $("#to-recover").on("click", function () {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
    $("#to-login").click(function () {
        $("#recoverform").hide();
        $("#loginform").fadeIn();
    });
</script>
</body>
</html>
