{% extends "border.html" %}

{% block pagetitle %}
Detil Inbox
{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col">
        <h2 class="page-title">Detil Inbox</h2>
    </div>
    <div class="col-auto">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/inbox">Daftar Inbox</a></li>
            <li class="breadcrumb-item active">Detil Inbox</li>
        </ol>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
       <div class="card-body">
           <div class="basic-form">
                    <div class="form-group mb-3 row">
                        <label class="col-sm-3  text-end control-label col-form-label">Subject</label>
                        <div class="col-sm-7">
                            <p class="form-control-plaintext">{{ inbox.Subject }}</p>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-3  text-end control-label col-form-label">Tanggal </label>
                        <div class="col-sm-7">
                            <p class="form-control-plaintext">{{ inbox.EnqueueDate }}</p>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-3  text-end control-label col-form-label">Status</label>
                        <div class="col-sm-7">
                            <p class="form-control-plaintext">{{ inbox.Status }}</p>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-3  text-end control-label col-form-label">Content</label>
                        <div class="col-sm-7">
                            <p class="form-control-plaintext">{{ inbox.Content }}</p>
                        </div>
                    </div>
                   <a href="/inbox" class="btn btn-secondary"><span style="width: 16px;" data-feather="arrow-left-circle"></span>Kembali</a>
            </div>
       </div>
    </div>
</div>
{% endblock %}

{% block css %}
<style>
        #video {
            width: 100%;
            max-width: 640px;
            height: auto;
            border: 1px solid #ddd;
        }
        #canvas {
            width: 100%;
            max-width: 640px;
            height: auto;
            border: 1px solid #ddd;
            margin-top: 20px;
        }
        #captureButton {
            font-size: 18px;
            padding: 10px 20px;
            margin-top: 20px;
            cursor: pointer;
        }
</style>
{% endblock %}
