 <div class="form-group mb-3 row">
     <label class="col-sm-2 col-form-label">Satuan Kerja</label>
     <div class="col-sm-10">
         <p class="form-control-plaintext">{{namaSatker}}</p>
     </div>
 </div>
 <div class="form-group mb-3 row">
     <label class="col-sm-2 col-form-label">Tahun Anggaran </label>
     <div class="col-sm-10">
        <p class="form-control-plaintext">{{tahun}}</p>
     </div>
 </div>
 <table class="table" id="rekap-paket">
      <thead>
      <tr>
          <th width="10%">Kode Paket</th>
          <th>Nama Paket</th>
          <th width="15%">Hps</th>
          <th width="20%">Pagu</th>
      </tr>
      </thead>
      <tbody>
      {% for obj in paket %}
      <tr>
          <td>{{ obj.KdTender }}</td>
          <td>{{ obj.NamaPaket }}</td>
          <td>{{ rupiah(obj.Hps) }}</td>
          <td>{{ rupiah(obj.Pagu) }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>

<script>
  new DataTable("#rekap-paket");
</script>
