<dl class="row mb-3">
  <dt class="col-sm-3" style="font-weight:700;">Satuan Kerja</dt>
  <dd class="col-sm-9">{{namaSatker}}</dd>
  <dt class="col-sm-3" style="font-weight:700;">Tahun Anggaran</dt>
  <dd class="col-sm-9">{{tahun}}</dd>
</dl>
<div class="table-responsive">
  <table class="table table-sm table-itkp-rup" id="rekap-paket">
    <thead>
      <tr>
        <th>Kode Paket</th>
        <th>Nama Paket</th>
        <th>Pagu</th>
      </tr>
    </thead>
    <tbody>
    {% for obj in paket %}
    <tr>
      <td>{{ obj.KdRup }}</td>
      <td>{{ obj.NamaPaket }}</td>
      <td>{{ rupiah(obj.Pagu) }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<script>
  new DataTable('.table-itkp-rup', { scrollX: true, scrollCollapse: true });
</script>
