<table class="table" id="table-rekap-feedback">
    <thead>
    <tr>
        <th width=30%">Penilaian</th>
        <th width="5%">Januari</th>
        <th width="5%">Feb</th>
        <th width="5%">Maret</th>
        <th width="5%">April</th>
        <th width="5%">Mei</th>
        <th width="5%">Juni</th>
        <th width="5%">Juli</th>
        <th width="5%">Agustus</th>
        <th width="5%">September</th>
        <th width="5%">Oktober</th>
        <th width="5%">November</th>
        <th width="5%">Desember</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Tidak Puas</td>
        <td>{{ rekapFeedback.TidakPuas[0] }}</td>
        <td>{{ rekapFeedback.TidakPuas[1] }}</td>
        <td>{{ rekapFeedback.TidakPuas[2] }}</td>
        <td>{{ rekapFeedback.TidakPuas[3] }}</td>
        <td>{{ rekapFeedback.TidakPuas[4] }}</td>
        <td>{{ rekapFeedback.TidakPuas[5] }}</td>
        <td>{{ rekapFeedback.TidakPuas[6] }}</td>
        <td>{{ rekapFeedback.TidakPuas[7] }}</td>
        <td>{{ rekapFeedback.TidakPuas[8] }}</td>
        <td>{{ rekapFeedback.TidakPuas[9] }}</td>
        <td>{{ rekapFeedback.TidakPuas[10] }}</td>
        <td>{{ rekapFeedback.TidakPuas[11] }}</td>
    </tr>
    <tr>
        <td>Puas</td>
        <td>{{ rekapFeedback.Puas[0] }}</td>
        <td>{{ rekapFeedback.Puas[1] }}</td>
        <td>{{ rekapFeedback.Puas[2] }}</td>
        <td>{{ rekapFeedback.Puas[3] }}</td>
        <td>{{ rekapFeedback.Puas[4] }}</td>
        <td>{{ rekapFeedback.Puas[5] }}</td>
        <td>{{ rekapFeedback.Puas[6] }}</td>
        <td>{{ rekapFeedback.Puas[7] }}</td>
        <td>{{ rekapFeedback.Puas[8] }}</td>
        <td>{{ rekapFeedback.Puas[9] }}</td>
        <td>{{ rekapFeedback.Puas[10] }}</td>
        <td>{{ rekapFeedback.Puas[11] }}</td>
    </tr>
    <tr>
        <td>Sangat Puas</td>
        <td>{{ rekapFeedback.SangatPuas[0] }}</td>
        <td>{{ rekapFeedback.SangatPuas[1] }}</td>
        <td>{{ rekapFeedback.SangatPuas[2] }}</td>
        <td>{{ rekapFeedback.SangatPuas[3] }}</td>
        <td>{{ rekapFeedback.SangatPuas[4] }}</td>
        <td>{{ rekapFeedback.SangatPuas[5] }}</td>
        <td>{{ rekapFeedback.SangatPuas[6] }}</td>
        <td>{{ rekapFeedback.SangatPuas[7] }}</td>
        <td>{{ rekapFeedback.SangatPuas[8] }}</td>
        <td>{{ rekapFeedback.SangatPuas[9] }}</td>
        <td>{{ rekapFeedback.SangatPuas[10] }}</td>
        <td>{{ rekapFeedback.SangatPuas[11] }}</td>
    </tr>
    </tbody>
</table>
