 <div class="form-group mb-3 row">
     <label class="col-sm-2 col-form-label">Satuan Kerja</label>
     <div class="col-sm-10">
         <p class="form-control-plaintext">{{namaSatker}}</p>
     </div>
 </div>
 <div class="form-group mb-3 row">
     <label class="col-sm-2 col-form-label">Bulan</label>
     <div class="col-sm-10">
        <p class="form-control-plaintext">{{bulanLabel(bulan)}} {{tahun}}</p>
     </div>
 </div>
 <table class="table table-modal-detail" id="rekap-paket">
     <thead>
     <tr>
         <th width="10%">Kode RUP</th>
         <th>Nama Paket</th>
         <th width="15%">Tanggal Pemilihan</th>
         <th width="20%">Pagu</th>
     </tr>
     </thead>
     <tbody>
     {% for obj in paket %}
     <tr>
         <td>{{ obj.KdRup }}</td>
         <td>{{ obj.NamaPaket }}</td>
         <td>{{ obj.TglAwalPemilihan.Format() }}</td>
         <td>{{ rupiah(obj.Pagu) }}</td>
     </tr>
     {% endfor %}
     </tbody>
 </table>

<script>
  new DataTable(".table-modal-detail");
</script>
