{% extends "border-preview.html" %}

{% block pagetitle %}
Berita Acara Reviu Dokumen
{% endblock %}

{% block content %}
<div class="ba-preview-wrap" style="color: #000; font-family: 'Times New Roman', Times, serif; line-height: 1.5;">
    <table style="width: 100%; border: none; margin-bottom: 5px;">
        <tr>
            <td style="width: 25%;"></td>
            <td style="width: 50%; text-align: center;">
                <h3 class="text-center" style="font-weight: 700; text-transform: uppercase; margin-bottom: 5px; font-size: 1.5rem;">BERITA ACARA REVIU DOKUMEN PERSIAPAN PENGADAAN</h3>
                <h4 class="text-center" style="font-weight: 700; margin-bottom: 5px; font-size: 1.25rem;">Nomor: {% if dokTercetak.NomorSurat %}{{ dokTercetak.NomorSurat }}{% else %}{{ ba.Nomor|default:'................................' }}{% endif %}</h4>
            </td>
            <td style="width: 25%; text-align: right; vertical-align: top;">
                {% if qrValidasi %}
                <div style="border:1px solid #ccc; padding:3px; display:inline-block; text-align:center;">
                    <img src="data:image/png;base64,{{ qrValidasi }}" style="width:75px;"><br>
                    <div style="font-size:6pt; text-align:center; font-weight:bold;">Scan Verifikasi</div>
                </div>
                {% endif %}
            </td>
        </tr>
    </table>
    
    <div style="margin: 2rem 0; font-size: 1.1rem;">
        <table class="table-borderless w-100">
            <tr>
                <td style="width: 25%;">OPD/SKPD</td>
                <td style="width: 2%;">:</td>
                <td style="font-weight: 700; text-transform: uppercase;">{{ ba.SubKeg|default:paket.Satker().Nama }}</td>
            </tr>
            <tr>
                <td>Tahun Anggaran</td>
                <td>:</td>
                <td>{{ paket.Rup().Tahun|default:'2026' }}</td>
            </tr>
            <tr>
                <td>Nama Pengadaan</td>
                <td>:</td>
                <td style="font-weight: 700;">{{ ba.Pengadaan|default:paket.Nama }}</td>
            </tr>
        </table>
    </div>

    <div style="margin: 1.5rem 0; padding-left: 2rem;">
        <table class="table-borderless">
            <tr>
                <td style="width: 15rem;">Hari / Tanggal</td>
                <td style="width: 1rem;">:</td>
                <td>
                    {% if dokTercetak.TanggalPenetapan %}
                        {{ dokTercetak.TanggalPenetapan.Format("02-01-2006") }}
                    {% else %}
                        {{ ba.Hari|default:'........' }} / {% if ba.Tanggal.Valid %}{{ ba.Tanggal.Time.Format("02-01-2006") }}{% else %}........{% endif %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Tempat</td>
                <td>:</td>
                <td>{% if dokTercetak.TempatPenetapan %}{{ dokTercetak.TempatPenetapan }}{% else %}{{ ba.Tempat|default:'........' }}{% endif %}</td>
            </tr>
            <tr>
                <td>Waktu (Jam)</td>
                <td>:</td>
                <td>{{ ba.Waktu|default:'........' }}</td>
            </tr>
        </table>
    </div>

    <p style="margin-top: 2rem;">Pada tahap ini dilakukan reviu dokumen persiapan pengadaan sebagai berikut:</p>

    {% if ba.DasarPelaksanaan %}
    <div style="margin: 1.5rem 0;">
        <div style="font-weight: 700; margin-bottom: 0.5rem;">I. DASAR PELAKSANAAN</div>
        <div style="padding-left: 1.5rem; text-align: justify;">{{ ba.DasarPelaksanaan|safe }}</div>
    </div>
    {% endif %}

    <div style="font-weight: 700; margin: 1.5rem 0 0.5rem 0;">II. HASIL REVIU DOKUMEN</div>
    <table class="table table-bordered" style="width: 100%; border: 1px solid #000;">
        <thead>
            <tr style="background: #f0f0f0;">
                <th style="width: 5%; text-align: center; border: 1px solid #000;">No</th>
                <th style="width: 20%; text-align: center; border: 1px solid #000;">Bidang Reviu</th>
                <th style="text-align: center; border: 1px solid #000;">Hal-hal yang direviu</th>
                <th style="width: 20%; text-align: center; border: 1px solid #000;">Kesimpulan</th>
            </tr>
        </thead>
        <tbody>
            {% set lastBidang = "" %}
            {% set counter = 0 %}
            {% for m in reviuMaster %}
                {% set res = reviuResults[m.ID] %}
                <tr>
                    <td style="text-align: center; border: 1px solid #000;">
                        {% if m.Bidang != lastBidang %}
                            {% set counter = counter + 1 %}
                            {{ counter }}
                        {% endif %}
                    </td>
                    <td style="border: 1px solid #000; font-weight: bold;">
                        {% if m.Bidang != lastBidang %}
                            {{ m.Bidang }}
                            {% set lastBidang = m.Bidang %}
                        {% endif %}
                    </td>
                    <td style="border: 1px solid #000;">
                        {{ m.Content }}
                        {% if res.Keterangan %}
                            <div style="margin-top: 5px; font-style: italic; color: #444; font-size: 0.9em;">
                                Ket: {{ res.Keterangan }}
                            </div>
                        {% endif %}
                    </td>
                    <td style="text-align: center; border: 1px solid #000; font-weight: 700;">
                        {% if res.Status == 1 %}
                            {{ m.Opsi1|default:'Sesuai / Tersedia' }}
                        {% elif res.Status == 2 %}
                            {{ m.Opsi2|default:'Tidak Sesuai' }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if ba.Pembahasan %}
    <div style="margin: 2rem 0 1rem 0;">
        <div style="font-weight: 700; margin-bottom: 0.5rem;">III. PEMBAHASAN</div>
        <div style="padding-left: 1.5rem; text-align: justify;">{{ ba.Pembahasan|safe }}</div>
    </div>
    {% endif %}

    {% if ba.Kesimpulan %}
    <div style="margin: 1.5rem 0;">
        <div style="font-weight: 700; margin-bottom: 0.5rem;">IV. KESIMPULAN</div>
        <div style="padding-left: 1.5rem; text-align: justify;">{{ ba.Kesimpulan|safe }}</div>
    </div>
    {% endif %}

    <div style="margin-top: 3rem;">
        <table class="table-borderless w-100" style="table-layout: fixed;">
            <tr>
                <td style="text-align: center; vertical-align: top;">
                    <div style="font-weight: 700; margin-bottom: 5rem;">TIM PENGELOLA KEGIATAN / PPK</div>
                    {% for s in signersPPK %}
                        <div style="position: relative; height: 100px; margin-bottom: 2rem;">
                            {% if s.SigImg %}
                                <img src="{{ s.SigImg }}" style="max-height: 80px; max-width: 150px;" />
                            {% elif s.IsSigned %}
                                <img src="data:image/png;base64,{{ s.QrCode }}" style="width: 80px;" />
                                <div style="font-size: 0.7rem;">Digitally Signed</div>
                            {% else %}
                                <div style="height: 80px; display: flex; align-items: center; justify-content: center; font-style: italic; color: #ccc;">(Belum Tanda Tangan)</div>
                            {% endif %}
                        </div>
                        <div style="font-weight: 700; text-decoration: underline;">{{ s.Nama }}</div>
                        <div>NIP. {{ s.Nip }}</div>
                    {% endfor %}
                </td>
                <td style="text-align: center; vertical-align: top;">
                    <div style="font-weight: 700; margin-bottom: 5rem;">PEJABAT PENGADAAN / POKJA PEMILIHAN</div>
                    {% for s in signersProses %}
                        <div style="position: relative; height: 100px; margin-bottom: 2rem;">
                            {% if s.SigImg %}
                                <img src="{{ s.SigImg }}" style="max-height: 80px; max-width: 150px;" />
                            {% elif s.IsSigned %}
                                <img src="data:image/png;base64,{{ s.QrCode }}" style="width: 80px;" />
                                <div style="font-size: 0.7rem;">Digitally Signed</div>
                            {% else %}
                                <div style="height: 80px; display: flex; align-items: center; justify-content: center; font-style: italic; color: #ccc;">(Belum Tanda Tangan)</div>
                            {% endif %}
                        </div>
                        <div style="font-weight: 700; text-decoration: underline;">{{ s.Nama }}</div>
                        <div>NIP. {{ s.Nip }}</div>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</div>


<style>
    @media print {
        .ba-preview-wrap {
            padding: 0;
            margin: 0;
        }
    }
</style>
{% endblock %}
