{% extends "border-preview.html" %}

{% block pagetitle %}
Surat Penunjukan Pejabat Pengadaan
{% endblock %}

{% block content %}
<div class="p-4" style="font-family: 'Times New Roman', Times, serif; color: black; line-height: 1.5;">
    <!-- Header / Kop Surat -->
    <table style="width: 100%; border-collapse: collapse; border-bottom: 3px solid black; padding-bottom: 10px; margin-bottom: 20px;">
        <tr>
            <td style="width: 15%; text-align: center;">
                <!-- <img src="{% if app_settings.DocLogoPath %}{{ app_settings.DocLogoPath }}{% else %}/images/logo-instansi.jpeg{% endif %}" alt="Logo" style="width: 80px;"> -->
                [LOGO]
            </td>
            <td style="width: 70%; text-align: center;">
                <h2 style="margin: 0; font-size: 18pt; font-weight: bold; text-transform: uppercase;">{{ app_settings.DocInstansi }}</h2>
                <h1 style="margin: 0; font-size: 20pt; font-weight: bold; text-transform: uppercase;">{{ app_settings.DocSubInstansi }}</h1>
                <p style="margin: 0; font-size: 10pt;">{{ app_settings.DocAddress }} {% if app_settings.DocPhone %}({{ app_settings.DocPhone }}){% endif %} {% if app_settings.DocFax %}{{ app_settings.DocFax }}{% endif %}</p>
                <p style="margin: 0; font-size: 10pt;">{% if app_settings.DocWebsite %}{{ app_settings.DocWebsite }}{% endif %}</p>
            </td>
            <td style="width: 15%; text-align: right; vertical-align: top;">
                <!-- <img src="https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl={{ full_url }}&choe=UTF-8" alt="QR Code" style="width: 90px; border: 1px solid #ddd; padding: 2px;"> -->
                [QR CODE]
                <p style="font-size: 7pt; margin: 2px 0 0 0; text-align: center;">Verifikasi Dokumen</p>
            </td>
        </tr>
    </table>

    <!-- Judul SK -->
    <div style="text-align: center; margin-bottom: 25px;">
        <h3 style="margin: 0; font-size: 12pt; font-weight: bold; text-transform: uppercase;">KEPUTUSAN {{ app_settings.DocPejabatJabata }} KOTA BANJARMASIN</h3>
        <h3 style="margin: 0; font-size: 12pt; font-weight: bold; text-transform: uppercase;">NOMOR {{ sk.NoSk }} TAHUN {{ sk.Tahun }}</h3>
        <p style="margin: 5px 0; font-weight: bold;">TENTANG</p>
        <h3 style="margin: 0; font-size: 12pt; font-weight: bold; text-transform: uppercase;">PENETAPAN PEJABAT PENGADAAN BARANG/JASA</h3>
        <h3 style="margin: 0; font-size: 12pt; font-weight: bold; text-transform: uppercase;">PADA {{ app_settings.DocSubInstansi }}</h3>
        <h3 style="margin: 0; font-size: 12pt; font-weight: bold; text-transform: uppercase;">{{ app_settings.DocInstansi }}</h3>
        <h3 style="margin: 0; font-size: 12pt; font-weight: bold; text-transform: uppercase;">TAHUN ANGGARAN {{ sk.Tahun + 1 }}</h3>
        <h3 style="margin: 10px 0 0 0; font-size: 12pt; font-weight: bold; text-transform: uppercase;">{{ app_settings.DocPejabatJabata }} KOTA BANJARMASIN</h3>
    </div>

    <!-- Konten Surat -->
    <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
        <tr>
            <td style="width: 20%; vertical-align: top; font-weight: bold;">Menimbang</td>
            <td style="width: 3%; vertical-align: top;">:</td>
            <td style="vertical-align: top;">
                <ol type="a" style="margin-top: 0; padding-left: 20px;">
                    <li style="text-align: justify; margin-bottom: 10px;">Bahwa untuk tertib dan lancarnya pelaksanaan pengadaan barang/jasa di {{ app_settings.DocSubInstansi }} {{ app_settings.DocInstansi }} Tahun {{ sk.Tahun + 1 }} dipandang perlu menetapkan Pejabat Pengadaan Barang/Jasa.</li>
                    <li style="text-align: justify;">bahwa berdasarkan pertimbangan sebagaimana dimaksud dalam huruf a, perlu menetapkan Keputusan {{ app_settings.DocPejabatJabata }} tentang Penetapan Pejabat Pengadaan Barang/Jasa pada {{ app_settings.DocSubInstansi }} {{ app_settings.DocInstansi }} Tahun Anggaran {{ sk.Tahun + 1 }};</li>
                </ol>
            </td>
        </tr>
        <tr><td colspan="3" style="height: 15px;"></td></tr>
        <tr>
            <td style="vertical-align: top; font-weight: bold;">Mengingat</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">
                <ol style="margin-top: 0; padding-left: 20px;">
                    <li style="text-align: justify; margin-bottom: 5px;">Undang-Undang Nomor 27 Tahun 1959 tentang Penetapan Undang-Undang Darurat Nomor 3 Tahun 1953 tentang Perpanjangan Pembentukan Daerah Tingkat II di Kalimantan;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Undang-Undang Nomor 12 Tahun 2011 tentang Pembentukan Peraturan Perundang-Undangan sebagaimana telah diubah beberapa kali terakhir dengan Undang-Undang Nomor 13 Tahun 2022;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Undang-Undang Nomor 23 Tahun 2014 tentang Pemerintahan Daerah sebagaimana telah diubah beberapa kali terakhir dengan Undang-Undang Nomor 6 Tahun 2023;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Undang-Undang Nomor 1 Tahun 2022 tentang Hubungan Keuangan Antara Pemerintah Pusat dan Pemerintahan Daerah;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Undang-Undang Nomor 8 Tahun 2022 tentang Provinsi Kalimantan Selatan;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Undang-Undang Nomor 20 Tahun 2023 tentang Aparatur Sipil Negara;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Peraturan Pemerintah Nomor 12 Tahun 2019 tentang Pengelolaan Keuangan Daerah;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Peraturan Presiden Nomor 16 Tahun 2018 tentang Pengadaan Barang/Jasa Pemerintah sebagaimana telah diubah dengan Peraturan Presiden Nomor 12 Tahun 2021;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Peraturan Menteri Dalam Negeri Nomor 80 Tahun 2015 tentang Pembentukan Produk Hukum Daerah sebagaimana telah diubah dengan Peraturan Menteri Dalam Negeri Nomor 120 Tahun 2018;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Peraturan Menteri Dalam Negeri Nomor 77 Tahun 2020 tentang Pedoman Teknis Pengelolaan Keuangan Daerah;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Peraturan Lembaga Kebijakan Pengadaan Barang/Jasa Pemerintah Nomor 11 Tahun 2021 tentang Pedoman Perencanaan Pengadaan Barang/Jasa Pemerintah;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Peraturan Daerah Kota Banjarmasin Nomor 7 Tahun 2016 tentang Pembentukan dan Susunan Perangkat Daerah Kota Banjarmasin sebagaimana telah diubah dengan Peraturan Daerah Kota Banjarmasin Nomor 3 Tahun 2021;</li>
                    <li style="text-align: justify; margin-bottom: 5px;">Peraturan Daerah Kota Banjarmasin Nomor 7 Tahun tentang Keuangan Daerah;</li>
                </ol>
            </td>
        </tr>
        <tr><td colspan="3" style="height: 15px;"></td></tr>
        <tr>
            <td style="vertical-align: top; font-weight: bold;">Memperhatikan</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top; text-align: justify;">
                Dokumen Pelaksanaan Anggaran Satuan Kerja Perangkat Daerah {{ app_settings.DocSubInstansi }} {{ app_settings.DocInstansi }} Tahun Anggaran {{ sk.Tahun + 1 }}
            </td>
        </tr>
    </table>

    <div style="text-align: center; margin-bottom: 15px; font-weight: bold; text-transform: uppercase;">MEMUTUSKAN:</div>

    <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px;">
        <tr>
            <td style="width: 20%; vertical-align: top; font-weight: bold;">MENETAPKAN</td>
            <td style="width: 3%; vertical-align: top;">:</td>
            <td style="vertical-align: top;"></td>
        </tr>
        <tr>
            <td style="vertical-align: top; font-weight: bold;">KESATU</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top; text-align: justify;">
                Pejabat Pengadaan Barang/Jasa Pada {{ app_settings.DocSubInstansi }} {{ app_settings.DocInstansi }} Tahun Anggaran {{ sk.Tahun + 1 }} sebagai berikut:<br>
                <table style="margin-top: 10px; border-collapse: collapse;">
                    <tr><td style="width: 100px;">Nama</td><td>: {{ pegawai.PegNama }}</td></tr>
                    <tr><td>NIP</td><td>: {{ pegawai.PegNip }}</td></tr>
                    <tr><td>Pangkat/Gol</td><td>: {{ pegawai.PegPangkat }} {% if pegawai.PegGolongan %}({{ pegawai.PegGolongan }}){% endif %}</td></tr>
                    <tr><td>Unit Kerja</td><td>: {{ paket.Satker.Nama }}</td></tr>
                </table>
            </td>
        </tr>
        <tr><td colspan="3" style="height: 10px;"></td></tr>
        <tr>
            <td style="vertical-align: top; font-weight: bold;">KEDUA</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top;">
                Tugas Pejabat Pengadaan Barang/Jasa sebagaimana dimaksud dalam Diktum KESATU adalah sebagai berikut:
                <ol type="a" style="margin-top: 5px; padding-left: 20px;">
                    <li>melaksanakan persiapan dan pelaksanaan pengadaan langsung;</li>
                    <li>melaksanakan persiapan dan pelaksanaan penunjukan langsung untuk pengadaan barang/jasa yang bernilai paling banyak Rp200.000.000,00 (dua ratus juga rupiah);</li>
                    <li>melaksanakan E-purchasing yang bernilai paling banyak Rp200.000.000,00 (dua ratus juta rupiah);</li>
                    <li>menyerahkan dokumen hasil pemilihan Penyedia Barang/Jasa kepada Pengguna Anggaran/Kuasa Pengguna Anggaran;</li>
                    <li>membuat laporan mengenai proses dan hasil pengadaan kepada Kepala Daerah/Pimpinan Institusi; dan</li>
                    <li>memberikan pertanggungjawaban atas pelaksanaan kegiatan Pengadaan Barang/Jasa kepada Pengguna Anggaran/Kuasa Pengguna Anggaran.</li>
                </ol>
            </td>
        </tr>
        <tr><td colspan="3" style="height: 10px;"></td></tr>
        <tr>
            <td style="vertical-align: top; font-weight: bold;">KETIGA</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top; text-align: justify;">
                Segala biaya yang timbul akibat ditetapkannya Keputusan {{ app_settings.DocPejabatJabata }} ini dibebankan pada Anggaran Pendapatan dan Belanja Daerah Banjarmasin Tahun Anggaran {{ sk.Tahun + 1 }} pada {{ app_settings.DocSubInstansi }} {{ app_settings.DocInstansi }}.
            </td>
        </tr>
        <tr><td colspan="3" style="height: 10px;"></td></tr>
        <tr>
            <td style="vertical-align: top; font-weight: bold;">KEEMPAT</td>
            <td style="vertical-align: top;">:</td>
            <td style="vertical-align: top; text-align: justify;">
                Keputusan {{ app_settings.DocPejabatJabata }} ini mulai berlaku pada tanggal ditetapkan.
            </td>
        </tr>
    </table>

    <!-- Tanda Tangan -->
    <div style="float: right; width: 40%; margin-top: 30px; text-align: left;">
        <p style="margin: 0;">Ditetapkan di Banjarmasin</p>
        <p style="margin: 0;">pada tanggal 9 Desember 2024</p>
        <p style="margin: 10px 0 0 0; font-weight: bold; text-transform: uppercase;">{{ app_settings.DocPejabatJabata }}</p>
        <p style="margin: 0; font-weight: bold; text-transform: uppercase;">{{ app_settings.DocInstansi }}</p>
        <br><br><br><br>
        <p style="margin: 0; font-weight: bold; text-decoration: underline; text-transform: uppercase;">{{ app_settings.DocPejabatNama }}</p>
    </div>
    <div style="clear: both;"></div>
</div>
{% endblock %}
