{% extends "border.html" %}

{% block pagetitle %}
Daftar Agency
{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col">
        <h2 class="page-title">Daftar Agency</h2>
    </div>
    <div class="col-auto">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active">Daftar Agency</li>
        </ol>
    </div>
</div>
    <div class="col-12 pt-2">
        <div class="card">
            <div class="card-body">
                {% include "alert.html" %}
                <table class="table table-bordered table-striped" id="table-data">
                    <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Alamat</th>
                        <th width="15%">Tanggal Daftar</th>
                        <th width="5%">action</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <a href="/agency/edit" class="btn btn-sm btn-success"><span style="width: 16px;" data-feather="plus-circle"></span> Tambah</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    new DataTable("#table-data", {
        ajax: '/agency/data',
        processing: true,
        serverSide: true,
        columns: [
            {data : "agc_nama", render : function(data, type, row){
                    return '<a href="/agency/'+row["ID"]+'">'+data+'</a>'
                }
            },
            {data : "agc_alamat"},
            {data : "agc_tgl_daftar", render: function(data, type, row){
                    if(type === "sort" || type === "type"){
                        return data;
                    }
                    return moment(data).format("MM-DD-YYYY");
                }
            },
            {data : "ID", render: function(data, type, row){
                    return '<a href="/agency/edit/'+data+'"><span style="width: 16px;" data-feather="edit"></span></a>&nbsp;' +
                        '<a href="/agency/hapus/'+data+'"><span style="width: 16px;" data-feather="trash"></span></a>'
                }
            },
        ],
        aaSorting: [[0, 'desc']]
    });
</script>
{% endblock %}
