<form method="post" action="/paket/checklist/{{ paket.ID }}" enctype="multipart/form-data">
<table class="table">
    <tr>
        <th>Jenis</th>
        <th>Keterangan</th>
        <th>File</th>
    </tr>
    {% for obj in paket.Checklist %}
    <tr>
        <td class="align-top">{{ obj.Jenis }}</td>
        <td class="align-top"><a href="/download/{{ obj.Template.DokId }}"><span style="width: 16px;" data-feather="download"></span> template</a></td>
        <td><ul class="list-group">
            {%if obj.DokId > 0 %}
             <li class="list-group-item"><a href="/download/{{ obj.DokId }}"><span style="width: 16px;" data-feather="download"></span> {{ obj.Dokumen.Filename }}</a></li>
            {% endif %}
            </ul>
            {% if isPPK and paket.Status < 2 %}
            <input type="file" name="checklist_{{ obj.ID }}" class="form-control mt-3">
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
 {% if isPPK and paket.Status < 2  %}
<p><smal>Gunakan template untuk membuat dokumen persyaratan</smal></p>
<p>
    <button type="submit" class="btn btn-success"><span style="width: 16px;" data-feather="edit"></span> Simpan Persyaratan</button>
</p>
{% endif %}
</form>
