{% extends "border.html" %}

{% block pagetitle %}
Form Paket
{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col">
        <h2 class="page-title">Hasil Pengadaan</h2>
    </div>
    <div class="col-auto">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item"><a href="/paket">Daftar Paket</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
</div>
    <div class="col-12 pt-2">
        <div class="card">
            {% include "alert.html" %}
            <form class="form-horizontal" action="{{ url }}" method="post">
                <div class="card-body">
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2 text-end control-label col-form-label">Nama Paket</label>
                        <div class="col-sm-9">
                            <input type="text" name="nama" class="form-control" value="{{ paket.Nama }}" required/>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2 text-end control-label col-form-label">Tahun Anggaran</label>
                        <div class="col-sm-9">
                            <input type="number" name="tahun" class="form-control" value="{{ paket.Tahun }}" required/>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2 text-end control-label col-form-label">Pagu (Rp)</label>
                        <div class="col-sm-9">
                            <input type="text" name="pagu_str" class="form-control rupiah-mask" value="{{ paket.Pagu }}"/>
                            <div class="small text-muted mt-1">Nilai Pagu: Rp {{ rupiah(paket.Pagu) }}</div>
                        </div>
                    </div>
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2 text-end control-label col-form-label">HPS (Rp)</label>
                        <div class="col-sm-9">
                            <input type="text" name="hps_str" class="form-control rupiah-mask" value="{{ paket.Hps }}"/>
                            <div class="small text-muted mt-1">Nilai HPS: Rp {{ rupiah(paket.Hps) }}</div>
                        </div>
                    </div>
                    
                    <div class="form-group mb-3 row">
                        <label class="col-sm-2 text-end control-label col-form-label">Metode Pengadaan</label>
                        <div class="col-sm-9">
                            <select name="metode" class="form-control select2">
                                <option value="0">-- Belum Ditentukan --</option>
                                {% for i, v in metodelist %}
                                <option value="{{ i }}" {% if paket.Metode == i %} selected {% endif %}>{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="col-sm-2 text-end control-label col-form-label">Jenis Pengadaan</label>
                        <div class="col-sm-9">
                            <select name="kgr_id" class="form-control select2">
                                <option value="0">-- Belum Ditentukan --</option>
                                {% for i, v in jenislist %}
                                <option value="{{ i }}" {% if paket.KgrId == i %} selected {% endif %}>{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group mb-3 row">
                        <label class="col-sm-2 text-end control-label col-form-label">Satuan Kerja</label>
                        <div class="col-sm-9">
                            <select name="satker_id" class="form-control select2">
                                <option value="0">-- Pilih Satker --</option>
                                {% for s in satkers %}
                                <option value="{{ s.ID }}" {% if paket.SatkerId == s.ID %} selected {% endif %}>{{ s.Nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group mt-4 mb-3 row">
                        <div class="col-sm-9 offset-sm-2">
                            <button type="submit" class="btn btn-primary px-4"><span style="width: 16px;" data-feather="save"></span> Simpan Perubahan</button>&nbsp;
                            <a href="/paket" class="btn btn-secondary px-4"><span style="width: 16px;" data-feather="arrow-left-circle"></span> Kembali</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    feather.replace();
    $(document).ready(function(){
        $('.rupiah-mask').mask('000.000.000.000.000', {reverse: true});
        $('.select2').select2({ width: '100%' });
    });
</script>
{% endblock %}
