<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>SK Penunjukan Pejabat Pengadaan</title>
  </head>
  <body>
      <h5 class="text-center pt-3">
            KEPUTUSAN SEKRETARIS DAERAH KOTA BANJARMASIN <br />
            NOMOR 102 TAHUN 2024 <br />
            TENTANG <br />
            PENETAPAN PEJABAT PENGADAAN BARANG/JASA <br />
            PADA BAGIAN PENGADAAN BARANG DAN JASA <br />
            SEKRETARIAT DAERAH KOTA BANJARMASIN <br />
            TAHUN ANGGARAN 2025 <br />
            SEKRETARIS DAERAH KOTA BANJARMASIN
      </h5>
      <div class="mx-auto pt-3" style="width: 60%;">
        <table class="table table-borderless">
            <tr>
                <td width="30%">Menimbang</td>
                <td>
                    <ol type="a">
                        <li>Bahwa untuk tertib dan lancarnya pelaksanaan pengadaan barang/jasa di Bagian Pengadaan Barang dan Jasa
                            Sekretariat Daerah Kota Banjarmasin Tahun 2025 dipandang perlu menetapkan Pejabat Pengadaan Barang/Jasa</li>
                        <li>bahwa berdasarkan pertimbangan sebagaimana dimaksud dalam huruf a,
                            perlu menetapkan Keputusan Sekretaris Daerah tentang Penetapan Pejabat Pengadaan Barang/Jasa pada Bagian
                            Pengadaan Barang dan Jasa Sekretariat Daerah Kota
                            Banjarmasin Tahun Anggaran 2025;
                        </li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>Mengingat</td>
                <td><ol>
                    <li>Undang-Undang Nomor 27 Tahun 1959 tentang Penetapan Undang-Undang Darurat Nomor 3 Tahun 1953
                        tentang Perpanjangan Pembentukan Daerah Tingkat II di Kalimantan(Lembaran Negara Republik Indonesia
                        tahun 1953 Nomor 9) sebagai Undang-Undang (Lembaran Negara Republik Indonesia Tahun 1959 Nomor 72,
                        Tambahan Lembaran Negara Republik Indonesia Nomor 1820);</li>
                    <li>Undang-Undang Nomor 12 Tahun 2011 tentang Pembentukan Peraturan Perundang-Undangan
                    (Lembaran Negara Republik Indonesia Tahun 2011 Nomor 82, Tambahan Lembaran Negara Republik Indonesia Nomor 5234)
                    sebagaimana telah diubah beberapa kali terakhir dengan Undang-Undang Nomor 13 Tahun 2022 tentang Perubahan Kedua
                    atas Undang-Undang Nomor 12 Tahun 2011 tentang Pembentukan Peraturan Perundang-Undangan
                    (Lembaran Negara Republik Indonesia Tahun 2022 Nomor 143, Tambahan Lembaran Negara Republik
                    Indonesia Nomor 6801);</li>
                    <li>Undang-Undang Nomor 23 Tahun 2014 tentang Pemerintahan Daerah (Lembaran Negara Republik
                    Indonesia Tahun 2014 Nomor 244, Tambahan Lembaran Negara Republik Indonesia Nomor 5587)
                    sebagaimana telah diubah beberapa kali terakhir dengan Undang-Undang Nomor 6 Tahun 2023 tentang
                    Penetapan Peraturan Pemerintah Pengganti Undang-Undang Nomor 2 Tahun 2022 tentang Cipta Kerja
                    menjadi Undang-Undang (Lembaran Negara Republik Indonesia 2023 Nomor 41, Tambahan
                    Lembaran Negara Republik Indonesia Nomor 6856);</li>
                    <li>Undang-Undang Nomor 1 Tahun 2022 tentang Hubungan Keuangan Antara Pemerintah Pusat dan
                    Pemerintahan Daerah (Lembaran Negara Republik Indonesia Tahun 2022 Nomor 4, Tambahan Lembaran
                    Negara Republik Indonesia Nomor 6757);</li>
                    <li>Undang-Undang Nomor 8 Tahun 2022 tentang Provinsi Kalimantan Selatan (Lembaran Negara
                    Republik Indonesia Tahun 2022 Nomor 68, Tambahan Lembaran Negara Republik Indonesia Nomor 6779);</li>
                    <li>Undang-Undang Nomor 20 Tahun 2023 tentang
                    Aparatur Sipil Negara (Lembaran Negara Republik Indonesia Tahun Nomor 141, Tambahan
                    Lembaran Negara Republik Indonesia Nomor 6897);</li>
                    <li>Peraturan Pemerintah Nomor 12 Tahun 2019 tentang Pengelolaan Keuangan Daerah (Lembaran Negara
                    Republik Indonesia Tahun 2019 Nomor 42, Tambahan Lembaran Negara Republik Indonesia Nomor 6322);</li>
                    <li>Peraturan Presiden Nomor 16 Tahun 2018 tentang Pengadaan Barang/Jasa Pemerintah (Lembaran
                    Negara Republik Indonesia Tahun 2018 Nomor 33) sebagaimana telah diubah dengan Peraturan Presiden
                    Nomor 12 Tahun 2021 tentang Perubahan atas Peraturan Presiden Nomor 16 Tahun 2018 tentang
                    Pengadaan Barang/Jasa Pemerintah (Lembaran Negara Republik Indonesia Tahun 2021 Nomor 63);</li>
                    <li>Peraturan Menteri Dalam Negeri Nomor 80 Tahun 2015 tentang Pembentukan Produk Hukum Daerah
                   (Berita Negara Republik Indonesia Tahun 2015 Nomor 2036) sebagaimana telah diubah dengan Peraturan
                   Menteri Dalam Negeri Nomor 120 Tahun 2018 tentang perubahana atas Peraturan Menteri Dalam Negeri
                   Nomor 80 Tahun 2015 tentang Pembentukan Produk Hukum Daerah (Berita Negara Republik Indonesia
                   Tahun 2019 Nomor 157);</li>
                    <li>Peraturan Menteri Dalam Negeri Nomor 77 Tahun 2020 tentang Pedoman Teknis Pengelolaan Keuangan
                    Daerah (Berita Negara Republik Indonesia Tahun 2020 Nomor 1781);</li>
                    <li>Peraturan Lembaga Kebijakan Pengadaan Barang/Jasa Pemerintah Nomor 11 Tahun 2021
                    tentang Pedoman Perencanaan Pengadaan Barang/Jasa Pemerintah (Berita Negara Republik
                    Indonesia Tahun 2021 Nomor 512);</li>
                    <li>Peraturan Daerah Kota Banjarmasin Nomor 7 Tahun 2016 tentang Pembentukan dan Susunan Perangkat
                    Daerah Kota Banjarmasin (Lembaran Daerah Kota Banjarmasin Tahun 2016 Nomor 7, Tambahan
                    Lembaran Daerah Kota Banjarmasin Nomor 40) sebagaimana telah diubah dengan Peraturan Daerah
                    Kota Banjarmasin Nomor 3 Tahun 2021 tentang Perubahan atas Peraturan Daerah Kota Banjarmasin
                    Nomor 7 Tahun 2016 tentang Pembentukan dan Susunan Perangkat Daerah Kota Banjarmasin
                    (Lembaran Daerah Kota Banjarmasin Tahun 2021 Nomor 3, Tambahan Lembaran Daerah Kota
                    Banjarmasin Nomor 63);</li>
                    <li>Peraturan Daerah Kota Banjarmasin Nomor 7 Tahun
                    tentang Keuangan Daerah (Lembaran Daerah Kota Banjarmasin Tahun 2021
                    Nomor 7, Tambahan Lembaran Daerah Kota Banjarmasin Nomor 66);</li>
                </ol></td>
            </tr>
            <tr>
                <td>Memperhatikan</td>
                <td>Dokumen Pelaksanaan Anggaran Satuan Kerja Perangkat Daerah Bagian Pengadaan Barang dan Jasa Sekretariat Daerah Kota Banjarmasin Tahun Anggaran 2025</td>
            </tr>
        </table>
            <h6 class="text-center pt-3">Memutuskan</h6>
            <p>Menetapkan :</p>
            <table class="table table-borderless">
                <tr>
                    <td width="30%">KESATU</td>
                    <td>Pejabat Pengadaan Barang/Jasa Pada Bagian Pengadaan Barang Dan Jasa Sekretariat Daerah Kota
                        Banjarmasin Tahun Anggaran 2025 sebagai berikut: <br /><br />
                        Nama        : Ahmad Syehfi Mirajqi, S.ST. <br />
                        NIP         : 19830420 200501 1 004 <br />
                        Pangkat/Gol : Penata (III/c) <br />
                        Unit Kerja  : Bagian Pengadaan Barang dan Jasa
                    </td>
                </tr>
                <tr>
                    <td>KEDUA</td>
                    <td>Tugas Pejabat Pengadaan Barang/Jasa sebagaimana dimaksud dalam Diktum KESATU
                        adalah sebagai berikut:
                        <ol type="a">
                            <li>melaksanakan persiapan dan pelaksanaan pengadaan langsung</li>
                            <li>melaksanakan persiapan dan pelaksanaan penunjukan langsung untuk pengadaan barang/jasa
                                yang bernilai paling banyak Rp200.000.000,00 (dua ratus juga rupiah)</li>
                            <li>melaksanakan E-purchasing yang bernilai paling banyak Rp200.000.000,00 (dua ratus juta rupiah);</li>
                            <li>menyerahkan dokumen hasil pemilihan Penyedia Barang/Jasa kepada Pengguna Anggaran/Kuasa Pengguna Anggaran;</li>
                            <li>membuat laporan mengenai proses dan hasil pengadaan kepada Kepala Daerah/Pimpinan Institusi; dan</li>
                            <li>memberikan pertanggungjawaban atas pelaksanaan kegiatan Pengadaan Barang/Jasa kepada Pengguna
                            Anggaran/Kuasa Pengguna Anggaran</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>KETIGA</td>
                    <td>Segala biaya yang timbul akibat ditetapkanny Keputusan Sekretaris Daerah ini dibebankan pada Anggaran Pendapatan dan Belanja Daerah
                    Banjarmasin Tahun Anggaran 2025 pada Bagian Pengadaan Barang dan Jasa Sekretariat Daerah Kota Banjarmasin.</td>
                </tr>
                <tr>
                    <td>KEEMPAT</td>
                    <td>Keputusan Sekretaris Daerah ini mulai berlaku pada tanggal ditetapkan.</td>
                </tr>
            </table>
            <p class="pt-3" style="padding-left: 70%;">
                Ditetapkan di Banjarmasin <br />
                pada tanggal 9 Desember 2024 <br />
                SEKRETARIS DAERAH <br />
                KOTA BANJARMASIN <br />
                <br />
                <br />
                AHSAN BUDIMAN
            </p>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
  </body>
</html>
